name: Build demo app

on:
  push:
    branches:
      - "main"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push docker image
        uses: docker/build-push-action@v3
        with:
          context: "{{defaultContext}}:bezkoder-app"
          push: true
          tags: alsonchang/nodejsapp:latest, alsonchang/nodejsapp:${{ github.sha }}
      - name: Customize The Kubernetes deploy
        uses: imranismail/setup-kustomize@v1
        run: |
          kustomize version
